<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', user.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="age" class="control-label">age</label>
  <div class="controls">
    <%- contentTag('input', user.age, {type:'number', class:'span2', name:'age'}) %>
  </div>
</div>
<div class="control-group">
  <label for="state" class="control-label">state</label>
  <div class="controls">
    <%- contentTag('input', user.state, {type:'text', class:'span6', name:'state'}) %>
  </div>
</div>
<div class="control-group">
  <label for="zipcode" class="control-label">zipcode</label>
  <div class="controls">
    <%- contentTag('input', user.zipcode, {type:'text', class:'span6', name:'zipcode'}) %>
  </div>
</div>
