                              <div class="control-group">
        <label for="age" class="control-label">age</label>
        <div class="controls">
                <input type="number" class="span2" name="age" value="{{user.age}}" />
              </div>
      </div>
                        <div class="control-group">
        <label for="location" class="control-label">location</label>
        <div class="controls">
                      <input type="text" class="span6" name="location" value="{{user.location}}" />
                    </div>
      </div>
                        <div class="control-group">
        <label for="isactive" class="control-label">isactive</label>
        <div class="controls">
                <select name="isactive", class="span1">
            {% if user.isactive  %}
            <option>false</option>
            <option selected>true</option>
            {% else %}
            <option selected>false</option>
            <option>true</option>
            {% endif %}
          </select>
              </div>
      </div>
                        <div class="control-group">
        <label for="userid" class="control-label">userid</label>
        <div class="controls">
                <input type="number" class="span2" name="userid" value="{{user.userid}}" />
              </div>
      </div>
            