<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', site.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="location" class="control-label">location</label>
  <div class="controls">
    <%- contentTag('input', site.location, {type:'text', class:'span6', name:'location'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', site.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
