<div class="hero-unit">
  <h2>All Sites</h2>
  <%- linkTo('Create a new Site', addSitePath, {class: 'btn pull-right'}); %>
</div>

<div id="sites-list">
<% if (sites) { %>
<% for (var i = 0, ii = sites.length; i < ii; i++) { %>
  <div class="row list-item" id="site-<%= sites[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(sites[i].name, sitePath(sites[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= sites[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>